.header__content{
    max-width: 1200px;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    background-color: red;
}

.basket{
    position: relative;
}

.basket__counter{
    position: absolute;
    right: -5px;
    bottom: 0;
    width: 1.1rem;
    height: 1.1rem;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}





