@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

.root{
  display: grid;
  grid-template-rows: 5rem 1fr;
  min-height: 100svh;
  margin: auto;
}





